[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
winpath = "*"
click = "*"
tabulate = "*"
lib-platform = "*"

[dev-packages]
mypy = "*"
black = "*"
flake8 = "*"
isort = "*"
pre-commit = "*"
types-tabulate = "*"

[requires]
python_version = "3.10"

[pipenv]
allow_prereleases = true
